# Twitter sentiment analysis

In [1]:
import pandas as pd 
import numpy as np

In [2]:
import spacy
from spacy.lang.en.stop_words import STOP_WORDS

In [5]:
df = pd.read_csv('Dataset/training.csv' , encoding = 'latin1' , header= None)

In [6]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [7]:
df.shape

(1600000, 6)

In [8]:
df = df [[5,0]]

In [9]:
df.columns = ['twitts' , 'sentiment']

In [10]:
df.head()

                                              twitts  sentiment
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0
1  is upset that he can't update his Facebook by ...          0
2  @Kenichan I dived many times for the ball. Man...          0
3    my whole body feels itchy and like its on fire           0
4  @nationwideclass no, it's not behaving at all....          0

In [11]:
df['sentiment'].value_counts()

4    800000
0    800000
Name: sentiment, dtype: int64

In [12]:
sent_map = {0 : 'negative' , 4 : 'positive'}

## Word Counts

In [14]:
df['word_counts'] = df['twitts'].apply(lambda x : len(str(x).split()))  
# We make x string because there might be some digits in the twitts and digit (int/float)
# Cannot be splited without the converting it to string

In [15]:
df.head()

                                              twitts  sentiment  word_counts
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...          0           19
1  is upset that he can't update his Facebook by ...          0           21
2  @Kenichan I dived many times for the ball. Man...          0           18
3    my whole body feels itchy and like its on fire           0           10
4  @nationwideclass no, it's not behaving at all....          0           21

## Characters Count

In [16]:
df['char_counts'] = df['twitts'].apply(lambda x : len(x))

In [17]:
df.head()

,twitts,sentiment,word_counts,char_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115
1,is upset that he can't update his Facebook by ...,0,21,111
2,@Kenichan I dived many times for the ball. Man...,0,18,89
3,my whole body feels itchy and like its on fire,0,10,47
4,"@nationwideclass no, it's not behaving at all....",0,21,111

## Avarage Word Length

In [18]:
def get_avg_word_len(x):
    words = x.split()
    word_len = 0
    for word in words:
        word_len = word_len + len(word)
    return word_len / len(words) # = len(x) / len(words), This formula does not consider white space as a character

In [19]:
df['avg_word_len'] = df['twitts'].apply(lambda x : get_avg_word_len(x))

In [20]:
df.head()

,twitts,sentiment,word_counts,char_counts,avg_word_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444
3,my whole body feels itchy and like its on fire,0,10,47,3.700000
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714

## Stop Word Counts

In [23]:
print(STOP_WORDS)

{'get', 'much', 'of', 'keep', 'however', 'see', 'above', 'being', 'still', 'further', 'thence', 'either', 'after', 'there', 'up', 'is', 'why', 'regarding', 'say', 'under', 'call', 'enough', 'over', 'between', 'another', 'front', 'nine', 'mostly', 'besides', 'such', 'some', 'please', '’m', 'hers', 'this', 'did', 'will', 'beforehand', 'nevertheless', 'sixty', 'used', 'also', 'became', "'ll", 're', '‘s', 'below', 'into', 'each', 'only', 'just', 'therein', 'first', 'yet', 'have', 'hereupon', '‘ve', 'name', 'has', 'someone', 'we', 'various', 'a', 'hence', 'never', 'something', 'once', 'be', 'i', '‘m', 'where', 'before', 'last', 'was', 'again', 'that', 'eleven', 'anywhere', 'you', "'d", 'nor', 'throughout', 'whoever', 'if', 'latter', 'the', 'its', 'were', 'not', 'somehow', 'and', 'all', 'show', 'every', 'elsewhere', '‘re', 'otherwise', 'across', 'hereafter', 'against', 'make', 'none', 'until', 'through', 'thereby', 'although', 'rather', 'behind', 'give', 'more', 'nobody', 'must', 'least', 'they', 'because', 'too', 'back', 'whereas', 'been', 'eight', 'does', "'re", 'forty', 'towards', 'twenty', 'except', 'fifty', 'am', 'nowhere', 'those', 'almost', 'already', 'ten', 'she', 'anyone', 'seems', 'sometimes', 'one', 'for', 'myself', 'itself', 'whereby', 'both', 'whither', 'via', 'own', 'quite', 'any', 'he', 'namely', 'thus', 'becoming', '’ll', 'due', 'done', 'bottom', 'or', 'seem', 'these', 'whenever', 'wherein', 'off', 'thereafter', 'him', 'anyway', 'many', '‘ll', 'perhaps', 'yourself', 'to', 'herein', 'less', 'six', 'made', 'from', "'s", '’re', 'thru', 'could', 'three', 'what', 'though', 'onto', 'might', 'had', 'so', 'become', 'as', '‘d', 'yourselves', 'n’t', 'move', 'few', 'everyone', 'would', 'therefore', 'fifteen', 'down', 'ours', 'thereupon', 'how', 'himself', 'doing', 'third', 'me', 'around', 'indeed', 'here', 'else', 'same', 'latterly', 'do', 'us', 'since', 'my', 'everything', 'together', 'afterwards', 'whom', 'in', 'anyhow', 'are', 'neither', 'about', '’s', 'amount', '’ve', 'two', 'next', 'really', 'without', 'alone', 'beyond', 'them', 'formerly', 'toward', 'others', 'who', 'with', 'very', 'four', 'ca', 'hundred', 'beside', 'whose', 'using', 'serious', 'themselves', 'along', 'wherever', 'should', 'but', 'whereupon', 'at', 'cannot', 'seeming', 'no', 'whether', 'ourselves', 'take', 'mine', 'whatever', 'everywhere', 'sometime', 'whole', "'ve", 'hereby', 'meanwhile', 'somewhere', 'several', 'our', 'five', 'can', 'on', '’d', 'other', 'ever', "'m", 'whereafter', 'twelve', 'part', 'unless', 'it', 'among', 'side', 'may', 'nothing', 'within', 'go', 'his', 'upon', 'always', 'herself', 'seemed', 'even', 'then', 'your', 'n‘t', 'out', 'their', 'moreover', 'becomes', 'which', 'top', 'full', 'during', 'now', 'an', 'by', 'well', 'while', 'amongst', 'her', 'when', "n't", 'whence', 'most', 'put', 'often', 'yours', 'empty', 'former', 'per', 'noone', 'anything', 'than'}

In [24]:
df['stop_len'] = df['twitts'].apply(lambda x: len([t for t in x.split() if t in STOP_WORDS]))

In [25]:
df.head()

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_len
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10

## Count of #Hash Tags and @Mentions

In [26]:
df['hashtags_count'] = df['twitts'].apply(lambda x: len([t for t in x.split() if t.startswith('#')]))
df['mentions_count'] = df['twitts'].apply(lambda x: len([t for t in x.split() if t.startswith('@')]))

In [27]:
df.head()

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_len,hashtags_count,mentions_count
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1

## If numeric digits are present in twitts

In [28]:
df['numerics_counts'] = df['twitts'].apply(lambda x : len([t for t in x.split() if t.isdigit()]))

In [29]:
df.head()

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_len,hashtags_count,mentions_count,numerics_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0

## Upper case words count

upper case counts is important in sentiment anlysis because people often express there happiness and anger in upper case

In [31]:
df['upper_counts'] = df['twitts'].apply(lambda x: len([t for t in x.split() if t.isupper() and len(x) > 3]))

In [32]:
df.head()

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_len,hashtags_count,mentions_count,numerics_counts,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - Awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his Facebook by ...,0,21,111,4.285714,9,0,0,0,0
2,@Kenichan I dived many times for the ball. Man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0,1

In [33]:
# let's see some twitts from the dataset
df.loc[96]['twitts']

"so rylee,grace...wana go steve's party or not?? SADLY SINCE ITS EASTER I WNT B ABLE 2 DO MUCH  BUT OHH WELL....."

In [34]:
df.loc[96]['upper_counts']

13

# Preprocessing and Cleaning

## Lower case conversion

In [35]:
df['twitts'] = df['twitts'].apply(lambda x: x.lower())

In [36]:
df.head()

,twitts,sentiment,word_counts,char_counts,avg_word_len,stop_len,hashtags_count,mentions_count,numerics_counts,upper_counts
0,"@switchfoot http://twitpic.com/2y1zl - awww, t...",0,19,115,5.052632,4,0,1,0,1
1,is upset that he can't update his facebook by ...,0,21,111,4.285714,9,0,0,0,0
2,@kenichan i dived many times for the ball. man...,0,18,89,3.944444,7,0,1,0,1
3,my whole body feels itchy and like its on fire,0,10,47,3.700000,5,0,0,0,0
4,"@nationwideclass no, it's not behaving at all....",0,21,111,4.285714,10,0,1,0,1

## Contraction to Expansion

Contractions are Cann't , won't , I'm, he'll etc.

In [ ]:
contractions = {
    "aight":	"alright",
    "ain't" :   "are not",
    "aren't":	"are not",
    "amn't":	"am not",
    "can't":	"cannot",
    "'cause":	"because",
    "could've":	"could have",
    "couldn't":	"could not",
    "couldn't've":	"could not have",
    "daren't":	"dare not",
    "daresn't":	"dare not",
    "dasn't":	"dare not",
    "didn't":	"did not",
    "doesn't":	"does not",
    "don't":	"do not",
    "dunno":	"do not know",
    "d'ye":	"do you",
    "e'er":	"ever",
    "everybody's": "everybody is",
    "everyone's":	"everyone is",
    "finna":	"fixing to",
    "g'day":	"good day",
    "gimme":	"give me",
    "giv'n":	"given",
    "gonna":	"going to",
    "gon't":	"go not",
    "gotta":	"got to",
    "hadn't":	"had not",
    "had've":	"had have",
    "hasn't":	"has not",
    "haven't":	"have not",
    "he'd":	"he would",
    "he'll":	"he will",
    "he's":	"he has",
    "he've":	"he have",
    "how'd":	"how did",
    "howdy":	"how do you do",
    "how'll":	"how will"
    "how're	how are
    "how's	how has / how is / how does
    "I'd	I had / I would
    "I'd've	I would have
    "I'll	I shall / I will
    "I'm	I am
    "I'm'a	I am about to
    "I'm'o	I am going to
    "innit	is it not
    "I've	I have
    "isn't	is not
    "it'd	it would
    "it'll	it shall / it will
    "it's	it has / it is
    "iunno	I don't know
    "let's	let us
    "ma'am	madam
    "mayn't	may not
    "may've	may have
    "methinks	me thinks
    "mightn't	might not
    "might've	might have
    "mustn't	must not
    "mustn't've	must not have
    "must've	must have
    "needn't	need not
    "nal	and all
    "ne'er	never
    "o'clock	of the clock
    "o'er	over
    "ol'	old
    "oughtn't	ought not
    "'s	is, has, does, or us
    "shalln't	shall not (archaic)
    "shan't	shall not
    "she'd	she had / she would
    "she'll	she shall / she will
    "she's	she has / she is
    "should've	should have
    "shouldn't	should not
    "shouldn't've	should not have
    "somebody's	somebody has / somebody is
    "someone's	someone has / someone is
    "something's	something has / something is
    "so're	so are (colloquial)
    "that'll	that shall / that will
    "that're	that are
    "that's	that has / that is
    "that'd	that would / that had
    "there'd	there had / there would
    "there'll	there shall / there will
    "there're	there are
    "there's	there has / there is
    "these're	these are
    "these've	these have
    "they'd	they had / they would
    "they'll	they shall / they will
    "they're	they are / they were
    "they've	they have
    "this's	this has / this is
    "those're	those are
    "those've	those have
    "'tis	it is
    "to've	to have
    "'twas	it was
    "wanna	want to
    "wasn't	was not
    "we'd	we had / we would/ we did
    "we'd've	we would have
    "we'll	we shall / we will
    "we're	we are
    "we've	we have
    "weren't	were not
    "what'd	what did
    "what'll	what shall / what will
    "what're	what are/what were
    "what's	what has / what is / what does
    "what've	what have
    "when's	when has / when is
    "where'd	where did"
    "where'll	where shall / where will"
    "where're	where are"
    "where's	where has / where is / where does"
    "where've	where have"
    "which'd	which had / which would"
    "which'll	which shall / which will"
    "which're	which are"
    "which's	which has / which is"
    "which've	which have"
    "who'd	who would / who had / who did"
    "who'd've	who would have"
    "who'll	who shall / who will"
    "who're	who are"
    "who's	who has / who is / who does"
    "who've	who have"
    "why'd	why did"
    "why're	why are"
    "why's	why has / why is / why does"
    "willn't	will not (archaic)"
    "won't	will not"
    "wonnot	will not (archaic)"
    "would've	would have"
    "wouldn't	would not
    "wouldn't've	would not have
    "y'all	you all (colloquial/Southern American English)
    "y'all'd've	you all would have (colloquial/Southern American English)
    "y'all'd'n've	you all would not have (colloquial/Southern American English)
    "y'all're	you all are (colloquial/Southern American English)
    "you'd	you had / you would
    "you'll	you shall / you will
    "you're	you are
    "you've	you have
}